include README.md
include LICENSE
include src/*.c
include src/*.h
include unqlite.c
include unqlite.pyx
include tests.py
recursive-include docs *

global-exclude *.pyc
global-exclude *.o
global-exclude *.so.0.1
